<h2>Användare</h2>

<ul>
  <% @users.each do |user| %>
    <!-- Visar inte admin..så att admin inte ger admin sparken -->
    <% next if user.admin %>
    <li><%= user.name %><%= link_to "Ge sparken", user_path(user), method: :delete, data: { confirm: "Vill du verkligen sparka den här personen?"} %></li>
  <% end %>
</ul>
