<!-- These charts are not real -->
<h3>Avfallsmål för året</h3>
<%= pie_chart [["Återvunnet", 58], ["Återstående", 42]] %>

<h3>Försäljningsmål </h3>
<%= pie_chart [["Sålt", 185_000], ["Kvar till mål", 500_000]] %>

<h3>Tasks </h3>

<%= pie_chart @tasks %>
