<div class="btn-group" role="group" aria-label="...">
  <%= link_to "Skapa ny anställd", new_user_path, class: "btn btn-default" %>
  <%= link_to "Visa anställda", users_path, class: "btn btn-default" %>
  <%= link_to "Ny artikel", new_article_path, class: "btn btn-default" %>
  <%= link_to "Visa alla artiklar", articles_path, class: "btn btn-default" %>
</div>
