<%= js_will_paginate @users %>

<hr />
<ul class="list-group">
  <% @users.each do |user| %>
    <!-- Visar inte admin..så att admin inte ger admin sparken -->
    <% next if user.admin? %>
    <li class="list-group-item">
      <%= link_to user.user_name, user %><%= link_to "Ge sparken", user_path(user), method: :delete, data: { confirm: "Vill du verkligen sparka den här personen?"}, class: "fire-link" %>
    </li>
  <% end %>
</ul>
