<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Hantera anställda</h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/flash_messages' %>
        <h2><%= @user.user_name %></h2>
        <h4><%= @user.full_name %></h4>

        <!-- Om användaren är admin renderas views/users/_admin_dashboard.html.erb -->
        <!-- Formulären ska vara gömda, när admin klickar på t.ex ny utbildning ska en flashig jquery animation komma typ-->

        
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#info" aria-controls="info" class="color" role="tab" data-toggle="tab">Personuppgifter</a></li>
          <li role="presentation"><a href="#education" aria-controls="education" class="color "role="tab" data-toggle="tab">Utbildning</a></li>
          <li role="presentation"><a href="#contacts" aria-controls="contacts" class="color" role="tab" data-toggle="tab">Kontaktperson</a></li>
        </ul>
       

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="info">
            <p>Personnummer: <%= @user.ssn %></p>
            <p>Email: <%= @user.email %></p>
            <p>Telefonnummer: <%= @user.phone_number %></p>
          </div>

          <div role="tabpanel" class="tab-pane" id="education">
            <div id="education-display"><%= render "education_display" %></div>

            <% if current_user.admin? %>
              <button id="show-education-form" class="btn btn-default">Lägg till utbildning</button>
              <div id="education-form">
                <div id="education-errors"></div>
                <%= form_for [@user, @user.educations.build], remote: true do |f| %>
                  <%= f.label :name %>
                  <%= f.text_field :name %> <br /> <!-- remove br and style it !-->

                  <%= f.label :school %>
                  <%= f.text_field :school %><br /><!-- remove br and style it !-->

                  <%= f.label :graduation %>
                  <%= f.date_field :graduation %><br /><!-- remove br and style it !-->

                  <%= f.submit "Konfirmera", class: "btn btn-primary" %>
                  <button type="button" id="hide-education-form" class="btn btn-danger">Avbryt</button>
                <% end %>
              </div>
            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane" id="contacts">
            <% if @user.contact_person.present? %>
              <p>Namn: <%= @user.contact_person.full_name %></p>
              <p>Telefonnummer: <%= @user.contact_person.phone_number %></p>
              <p>Namn: <%= @user.contact_person.email %></p>
            <% end %>
          </div>
        </div>

        <% if current_user.admin? %>
          <hr />

          <% if @user.admin? %>
            <%= render 'admin_dashboard' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
