<!-- <div class="container"> -->
<% flash.each do |message_type, message| %>
  <!-- The HTML class will be for instance "flash-success" or "flash-notice" -->
  <div class="alert alert-<%= message_type %>">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
<% end %>
