<!-- <div class="container"> -->
<% flash.each do |message_type, message| %>
  <!-- CSS-klassen blir tex "flash-success" eller "flash-notice" -->
  <div class="alert alert-<%= message_type %>">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
<% end %>
