/* 
*	This file contains all reset styles used for all the pages in the application
*/
@import "partials/_variables";

@CHARSET "UTF-8";

/* Makes the box size unaffected by padding */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

html, body {
	min-height: 100% !important;
	font-family: 'Lato', serif;
	-webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}