/*
*	This file contains styles that creates the layout of the application
*	Only plain layout styling such as width, height, padding and margin of the 
*	global divs such as navigation, container, header, footer etc.
*
*	I.e the navigation needs to have the same styling for all pages to be able
*	to work consistent with javascript regarding on which page you're on.
*/
/* Dark Admin Bootstrap Theme by PrepBootstrap - http://www.prepbootstrap.com */

  @import "partials/_variables";
/*
Lumino Admin Bootstrap Template
Version 1.0
*/

/* Changes style of the body when logged in */
#loggedin {
    background-color: $cream-white !important;
    background-image: none;
}

.navbar {
  -webkit-box-shadow: 
    inset 0px -5px 0px -0px $purple;
  -moz-box-shadow: 
    inset 0px -5px 0px -0px $purple;
  -o-box-shadow: 
    inset 0px -5px 0px -0px $purple;
  box-shadow: 
    inset 0px -5px 0px -0px $purple;
  background-color: $white;
  border: 0px !important;
}

@media (max-width: 768px) {
  .main {
    padding: 0px 5px 0px 5px !important;
  }
  .breadcrumb {
    margin: 0px 5px 0px 5px !important;
    .back {
      
      margin-top: 7px;
      background-color: $white;
      border: 1px solid $lighter-gray;
      width: 100%;
      float: left;
      a {
        display: block;
        padding: 9px;
        width: 100% !important;
      }
      span {
        font-size: 12px !important;
        font-weight: 600;
        &::before {
          margin-right: 5px;
        }
      }
      &::before {
        display: none;
      }
    }
  }
}
