/*
*	This file contains styles that creates the layout of the application
*	Only plain layout styling such as width, height, padding and margin of the 
*	global divs such as navigation, container, header, footer etc.
*
*	I.e the navigation needs to have the same styling for all pages to be able
*	to work consistent with javascript regarding on which page you're on.
*/
/* Dark Admin Bootstrap Theme by PrepBootstrap - http://www.prepbootstrap.com */

  @import "partials/_variables";
/*
Lumino Admin Bootstrap Template
Version 1.0
*/


.navbar {
  -webkit-box-shadow: 
    0px 1px 2px #888888, 
    inset 0px -5px 0px -0px $purple;
  -moz-box-shadow: 
    0px 1px 2px #888888, 
    inset 0px -5px 0px -0px $purple;
  -o-box-shadow: 
    0px 1px 2px #888888, 
    inset 0px -5px 0px -0px $purple;
  box-shadow: 
    0px 1px 2px #888888, 
    inset 0px -5px 0px -0px $purple;
  background-color: $white;
  border: 0px !important;
}
