/*
*	This file contains specific styling for the user
*/

@import "partials/_variables";

.user-sidebar {
	background-color: $darker-gray !important;

	a {
		font-size: 12px;
		color: $light-gray;
		border-bottom: 1px solid $dark-gray-border;
		background-color: $dark-gray;

		&:hover {
			color: $cream-white;
			background-color: $dark-gray !important;
		}
		&:focus {
			color: $gray;
			background-color: $dark-gray !important;
		}
	}
	.active a {
		color: $cream-white;
		background-color: $gray !important;
		border-left: 6px solid $purple;
	}
	.profile-sidebar {
		.sidebar-profile {
			height: 35px;
			width: 100%;

			.profile-circle-sidebar {
				float: left;
				border-radius: 50%;
			    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
			    width: 40px;
			    height: 40px;
			    margin-right: 15px;
			    margin-top: -2px;
			    background: $dark-purple;
			    font-size: 18px;
			    color: #FFF;
			    text-align: center;
			    box-shadow: 0px 0px 2px $charcoal;
			    padding: 8px 4px 0 4px;
			}
			.profile-link {
				float: left;
				display: table;
				.greeting {
					font-size: 11px;
					font-style: italic;
					display: block;
				}
				.username {
					color: $cream-white;
					font-size: 14px;
					display: block;
				}
				&:hover {
					.username {
						text-decoration: underline !important; 
					}
					
				}
			}
			#caret {
				color: $gray;
				position: relative;
				float: right;
		    	font-size: 18px !important;
		    	margin: 0px !important;
		    	border-left: 1px solid $dark-gray;
		    	padding: 7px 7px 7px 14px;
		    	&:hover {
		    		color: $light-gray !important;
		    	}
		    }
		}
		
		a {
			background-color: transparent !important;
			border-bottom: none !important;
	    	border-top: 1px solid $charcoal;
	    	&:hover {
				background-color: transparent !important;
				.username {
					text-decoration: underline;
				}
				#caret {
					color: $gray !important;
				}
			}
			&:focus {
				.greeting {
					color: $light-gray !important;
				}		
			}
		}    
	}

	.glyph {
		width: 12px !important;
	}

	.sidebar-header {
	    padding: 7px;
	    font-size: 12px;
	    color: #888;
	    border-bottom: 1px solid $charcoal;
	    border-top: 1px solid $charcoal;
	    background-color: #333;
	}

	ul.nav ul.children li a {
		font-size: 12px;
			color: $light-gray !important;
			border-bottom: 1px solid $dark-gray-border !important;
			background-color: $dark-gray !important;

			&:hover {
				color: $cream-white !important;
				background-color: $dark-gray !important;
			}
			&:focus {
				color: $light-gray !important;
				background-color: $dark-gray !important;
			}
	}
}
