/*
*	This file contains specific styling for the user
*/

@import "partials/_variables";

.user-sidebar {
	background-color: $darker-gray !important;

	a {
		font-size: 12px;
		color: $light-gray;
		border-bottom: 1px solid $dark-gray-border;
		background-color: $dark-gray;

		&:hover {
			color: $cream-white;
			background-color: $dark-gray !important;
		}
		&:focus {
			color: $gray;
			background-color: $dark-gray !important;
		}
	}
	.active a {
		color: $cream-white;
		background-color: $gray !important;
		border-left: 6px solid $purple;
	}
	.sidebar-profile a {
		background-color: transparent !important;
		border-bottom: none !important;
	    border-top: 1px solid $charcoal;
	}

	.glyph {
		width: 12px !important;
	}

	.sidebar-header {
	    padding: 7px;
	    font-size: 12px;
	    color: #888;
	    border-bottom: 1px solid $charcoal;
	    border-top: 1px solid $charcoal;
	    background-color: #333;
	}

	.profile-circle-sidebar {
		float: left;
		border-radius: 50%;
	    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	    width: 40px;
	    height: 40px;
	    padding: 8px;
	    margin-right: 15px;
	    margin-top: -2px;
	    background: $dark-purple;
	    font-size: 18px;
	    color: #FFF;
	    text-align: center;
	    box-shadow: 0px 0px 2px $charcoal;
	}

	.greeting {
		font-size: 11px;
		font-style: italic;
	}

	.username {
		color: $cream-white;
		font-size: 14px;
	}

	ul.nav ul.children li a {
		font-size: 12px;
			color: $light-gray !important;
			border-bottom: 1px solid $dark-gray-border !important;
			background-color: $dark-gray !important;

			&:hover {
				color: $cream-white !important;
				background-color: $dark-gray !important;
			}
			&:focus {
				color: $light-gray !important;
				background-color: $dark-gray !important;
			}
	}
}
