/*
*	This file contains SASS variables that is used within the application
*	Contains both global variables and specific page variables
*/

/* Global variables */
$dark-purple: #41245E;
$purple: #AA7CB5;
$light-purple: #EEDEF0;