/*
*	This file contains SASS variables that is used within the application
*	Contains both global variables and specific page variables
*/

/* Global variables */
$white: #FFF;
$darker-gray: #2B2B2B;
$dark-gray: #4A4A4A;
$dark-gray-border: #424242;
$gray: #6E6E6E;
$light-gray: #B8B8B8;
$lighter-gray: #D1D1D1;


$cream-white: #F2F2F2;
$charcoal: #1C1C1C;

$dark-purple: #41245E;
$purple: #AA7CB5;
$light-purple: #EEDEF0;