/*
*	This file contains SASS variables that is used within the application
*	Contains both global variables and specific page variables
*/

/* Global variables */
$white: #FFF;
$cream-white: #F2F2F2;
$dark-purple: #41245E;
$purple: #AA7CB5;
$light-purple: #EEDEF0;