/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap";
    @import "bootstrap-sprockets";
    @import "partials/_base";
    @import "partials/_layout";
    @import "partials/_variables";






body {
    background-image: linear-gradient($purple, $dark-purple);
}

hr {
	background-color: #E1E1E1;
	height: 1px;
}

.login-form {
	margin: 10% auto;
	max-width: 400px;
}

form[role=login] {
	font: 14px/1.8em Lato, serif;
	background: #EFEFEF;	
	padding: 30px 26px;
	color: $dark-purple;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] > img {
		display: block;
		margin-bottom: 1em;
	}
	form[role=login] .form-control,
	form[role=login] button {
		font-size: 18px;
		margin: 2px 0;
	}
	form[role=login] .btn {	
		background: $dark-purple !important;
		border: $purple !important;
		letter-spacing: 1px;
	}
	form[role=login] .login-remember {	
		display: inline;
		margin-left: 0.2em;
	}

.form-links {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.fire-link {
  float: right;
}

ul {
  list-style-type: none;
}

.jumbotron p {
  font-weight: normal;
  font-size: 14px;
}

/* Hide the add education form until show button is clicked */
#education-form {
  display: none;
}
