/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import "partials/_variables";
    @import "partials/_lumino_template";
    @import "partials/_user";
    @import "partials/_base";
    @import "partials/_layout";
    @import "partials/_header";
    


.sidebar-header {
    padding: 7px;
    font-size: 12px;
    color: #888;
    border-bottom: 1px solid #F111;
    border-top: 1px solid #F111;
    background-color: #333;
}

.nav-tabs {
    height: 36px;
    background: #95A5A6;
    width: 380px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}

.panel-heading {
    line-height: 40px !important;
    height: 40px !important;
}

.panel-title {
    text-align: middle;
}

#sidebar-collapse{
    background: #34495E;
}

.text-settings-nav-tabs{
    height: 36px;
    color: black;
}

.panel-body {
    background: $white;
    border: 1px solid $light-gray;
}


/**
* Makes initials spin :D
*/
.profile-circle:hover {
  -webkit-animation: rotate 1s;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform:rotate(0deg);
	}
  100% {
    -webkit-transform:rotate(360deg);
  }
}

.status-box{
    width: 30px;
    height: 30px;
    border: 1px solid black; 

}

.priority-box{
    width: 30px;
    height: 30px;
    border: 1px solid black; 
}

.low{
    background-color: green;
}

.medium{
    background-color: yellow;
}

.high{
    background-color: orange;
}

.critical{
    background-color: red;
}