// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/_variables";

/**
* User task list
*/
.user-task-list {
	padding-left: 0px !important;
	background-color: $lightest-gray;
	border: 1px solid $lighter-gray;
	li {
		margin: 5px 0px 0px 0px !important;
		border-radius: 0px !important;
		display: block;
		section {
			padding: 10px;
			
			&.task-header {
				padding-left: 25px;
				padding-right: 25px;
				width: 100%;
				#caret {
					font-size: 20px;
					float: right;
				}
			}
			&.task-info {
				width: auto;
				margin-left: 25px;
				margin-right: 25px;
				border-top: 1px solid $white-divider;

				.info-text {
					font-weight: bold;
				}
				
				.priority-box {
					float: left;
			    	width: 10px;
			    	height: 10px;
			    	border-radius: 50%;
			    	margin-right: 5px;
			    	margin-top: 7px;
				    &.low{
					    background-color: green;
					    border: 2px solid darken(green, 10%);
					}
					&.medium{
					    background-color: yellow;
					    border: 2px solid darken(yellow, 10%);
					}
					&.high{
					    background-color: orange;
					    border: 2px solid darken(orange, 10%);
					}
					&.critical{
					    background-color: red;
					    border: 2px solid darken(red, 10%);
					}
				}
				.time-span {
					float: right;
				}
			}
		}

		&.not_started{
		    border-left: 6px solid $gray;
		}
		&.done{
		    border-left: 6px solid green;
		}
		&.in_progress{
		    border-left: 6px solid blue;
		}
		&.cancelled{
		    border-left: 6px solid orange;
		}
		ul {
			padding: 3px;
			min-height: 60px;
			border-top: 1px solid $light-gray;
			background-color: $lightest-gray;

			li {
				margin: 0px !important;
				.task-desc {
					display: table-cell;
					.sender {
						font-weight: bold;
					}
				}
				.profile-circle-sidebar {
					float: left;
					border-radius: 50%;
				    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
				    width: 40px;
				    height: 40px;
				    padding: 8px;
				    margin-right: 15px;
				    margin-top: 0px;
				    background: $dark-purple;
				    font-size: 18px;
				    color: #FFF;
				    text-align: center;
				    box-shadow: 0px 0px 2px $charcoal;
				}
				&.task-action {
					width: 100%;
					display: inline-block;
					border-top: 1px solid darken($lightest-gray, 5%);
					a {
						float: right;
						margin-right: 5px;
						margin-top: 7px;
						font-weight: bold;
						padding-left: 25px;
						padding-right: 25px;
					}
				}
			}
		}
		&.user-task-header {
			margin: 0px !important;
			display: inline-block;
			width: 100%;
			line-height: 52px;
			height: 50px;
			p {
				font-size: 20px;
				font-weight: 500;
				margin-left: 20px;
				color: $dark-gray;
			}
		}
	}
	@media (min-width: 768px) {
		width: 100% !important;
		li {
			font-size: 16px;
		}
    }
    @media (max-width: 768px) {
		width: auto !important;
		.value-text {
			display: none;
		}
    }
}


/**
* Admin task list
*/
.admin-task-list {
	padding-left: 0px !important;
	display: table;
	background-color: $lightest-gray !important;
	border: 1px solid $lighter-gray;
	li {
		display: table-row;
		width: 100%;
		border-bottom: 1px solid $gray !important;
		&.list-head {
			font-size: 12px;
			height: 10px !important;
			background-color: $lighter-gray !important;
	    	font-weight: bold;
		}
		span {
			display: table-cell;
			padding: 7px;
			width: auto;
			border-right: 1px solid $white-divider;
			vertical-align: middle;
			&.status {
				table-layout: fixed;
				max-width: 30px !important;
			}
			&.priority {

				table-layout: fixed;
				min-width: 90px !important;
				.priority-box {
					float: left;
			    	width: 10px;
			    	height: 10px;
			    	border-radius: 50%;
			    	margin-right: 5px;
			    	margin-top: 7px;
				    &.low{
					    background-color: green;
					    border: 2px solid darken(green, 10%);
					}
					&.medium{
					    background-color: yellow;
					    border: 2px solid darken(yellow, 10%);
					}
					&.high{
					    background-color: orange;
					    border: 2px solid darken(orange, 10%);
					}
					&.critical{
					    background-color: red;
					    border: 2px solid darken(red, 10%);
					}
				}
			}
			&.time {
				table-layout: fixed;
				max-width: 120px !important;
				section {
					float: left;
					display: block;
					&.value-text {
						font-size: 12px;
						min-width: 40px;
					}
					&.info-text {
						font-size: 12px;
						font-weight: bold;
					}
				}
			}
			&.users {
				table-layout: fixed;
				max-width: 120px !important;
			}
		}
		
		&:nth-child(odd) {
		  background-color: $lightest-gray;
		}
		&:nth-child(even) {
		  background-color: $white;
		}
	}
	.admin-task-header {
		margin: 0px !important;
		display: inline-block;
		width: 100%;
		line-height: 50px;
		height: 55px;
		p {
			font-size: 20px;
			font-weight: 500;
			margin-left: 20px;
			color: $dark-gray;
		}
	}

	@media (min-width: 768px) {
		width: 100% !important;
		li {
			font-size: 16px;
			height: 40px !important;
		}
    }
    @media (max-width: 768px) {
		width: auto !important;
    }
}