// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/_variables";

/**
* User task list
*/

.user-task-header {
	background-color: $lightest-gray;
    margin: 0px !important;
    width: 100%;
    line-height: 52px;
    height: 55px;
	border: 1px solid $lighter-gray;
	border-bottom: 0px !important;
    p {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        color: $dark-gray;
    }
}

.user-task-sort {
	margin: 0px auto !important;
	display: table;
	width: 100%;
	padding: 18px;
	border: 1px solid $lighter-gray;
	border-bottom: 0px;

	#list-sort {
	    display: table-cell;
        //padding: 7px 18px 7px 7px;
        float: right;
	    p {
		  display: block;
		  width: 100%;
		  margin: 0px 0px 0px 0px !important;
		  font-size: 12px;
		}
		form {
		  width: 100% !important;
		  display: inline-block !important;
		  select {
		      float: left;
		      height: 34px;
		      &#sort {
		        min-width: 180px;
		        margin-right: 10px;
		      }
		      &#sort_order {
		        width: 100px;
		      }
		  }
		  input {
		      float: right;
		      margin-left: 10px;
		  }
		}
	}
	@media (max-width: 768px) {
		float: none;
		margin: 0px !important;
		form {
			float: left;
			width: 100%;
			select {
				float: none;
				&#sort {
					float: left;
			        min-width: 120px !important;
			        width: auto;
			        max-width: 150px !important;
			        margin-right: 10px;
			      }
			      &#sort_order {
			      	float: left;
			        width: 100px;
			      }
			}
		}

    }
}

.user-task-list {
	margin-bottom: 20px;
	padding-left: 0px !important;
	background-color: $lightest-gray;
	border: 1px solid $lighter-gray;
	li {
		margin: 5px 0px 0px 0px !important;
		border-radius: 0px !important;
		display: block;
		section {
			padding: 10px;
			
			&.task-header {
				padding-left: 25px;
				padding-right: 25px;
				width: 100%;
				#caret {
					font-size: 20px;
					float: right;
				}
			}
			&.task-info {
				width: auto;
				margin-left: 25px;
				margin-right: 25px;
				border-top: 1px solid $white-divider;

				.info-text {
					font-weight: bold;
				}
				
				.priority-box {
					float: left;
			    	width: 10px;
			    	height: 10px;
			    	border-radius: 50%;
			    	margin-right: 5px;
			    	margin-top: 7px;
				    &.low{
					    background-color: green;
					    border: 2px solid darken(green, 10%);
					}
					&.medium{
					    background-color: yellow;
					    border: 2px solid darken(yellow, 10%);
					}
					&.high{
					    background-color: orange;
					    border: 2px solid darken(orange, 10%);
					}
					&.critical{
					    background-color: red;
					    border: 2px solid darken(red, 10%);
					}
				}
				.time-span {
					float: right;
				}
			}
		}

		&.not_started{
		    border-left: 6px solid $cool-blue;
		}
		&.done{
		    border-left: 6px solid green;
		}
		&.in_progress{
		    border-left: 6px solid orange;
		}
		&.cancelled{
		    border-left: 6px solid red;
		}
		ul {
			padding: 3px;
			min-height: 60px;
			border-top: 1px solid $light-gray;
			background-color: $lightest-gray;

			li {
				margin: 0px !important;
				.task-desc {
					display: table-cell;
					.sender {
						font-weight: bold;
					}
				}
				.profile-circle-sidebar {
					float: left;
					border-radius: 50%;
				    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
				    width: 40px;
				    height: 40px;
				    margin-right: 15px;
				    margin-top: 0px;
				    background: $dark-purple;
				    font-size: 18px;
				    color: #FFF;
				    text-align: center;
				    box-shadow: 0px 0px 2px $charcoal;
				    float: left;
    				padding: 8px 4px 0 4px;
				}
				&.task-action {
					width: 100%;
					display: inline-block;
					border-top: 1px solid darken($lightest-gray, 5%);
					a {
						float: right;
						margin-right: 5px;
						margin-top: 7px;
						font-weight: bold;
						padding-left: 25px;
						padding-right: 25px;
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		width: 100% !important;
		li {
			font-size: 16px;
		}
    }
    @media (max-width: 768px) {
		width: auto !important;
		.value-text {
			display: none;
		}
    }
}


/**
* Admin task list
*/

#admin-task-content {
	background-color: $lightest-gray;
	border: 1px solid $lighter-gray;
	margin-bottom: 20px;
}

#admin-task-header {
    background-color: $lightest-gray;
    margin: 0px !important;
    width: 100%;
    line-height: 52px;
    height: 55px;
	 	border: 1px solid $lighter-gray;
    p {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        color: $dark-gray;
    }
}

.admin-task-list {
	padding-left: 0px !important;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	background-color: $lightest-gray !important;
	border: 1px solid $lighter-gray !important;
	li {
		display: table-row;
		width: 100%;
		border-bottom: 1px solid $lighter-gray !important;
		span {
			display: table-cell;
			padding: 7px;
			width: auto;
			vertical-align: middle;
			&.status {
				table-layout: fixed;
				max-width: 30px !important;
				border-right: 1px solid $white-divider;
			}
			&.priority {
				border-right: 1px solid $white-divider;
				table-layout: fixed;
				min-width: 90px !important;
				.priority-box {
					float: left;
			    	width: 10px;
			    	height: 10px;
			    	border-radius: 50%;
			    	margin-right: 5px;
			    	margin-top: 7px;
				    &.low{
					    background-color: green;
					    border: 2px solid darken(green, 10%);
					}
					&.medium{
					    background-color: yellow;
					    border: 2px solid darken(yellow, 10%);
					}
					&.high{
					    background-color: orange;
					    border: 2px solid darken(orange, 10%);
					}
					&.critical{
					    background-color: red;
					    border: 2px solid darken(red, 10%);
					}
				}
			}
			&.task {
				border-right: 1px solid $white-divider;
			}
			&.time {
				border-right: 1px solid $white-divider;
				table-layout: fixed;
				max-width: 120px !important;
				section {
					float: left;
					display: block;
					&.value-text {
						font-size: 12px;
						min-width: 40px;
					}
					&.info-text {
						font-size: 12px;
						font-weight: bold;
					}
				}
			}
			&.users {
				table-layout: fixed;
				max-width: 120px !important;
				border-right: 1px solid $lighter-gray;
			}
		}
		
		&:nth-child(odd) {
		  background-color: $lightest-gray;
		}
		&:nth-child(even) {
		  background-color: $white;
		}
		&.list-head {
			font-size: 12px;
			height: 10px !important;
			background-color: $lighter-gray !important;
	    	font-weight: bold;
	    	border-left: 6px solid $lighter-gray !important;
		}
		&.not_started{
		    border-left: 6px solid $cool-blue !important;
		}
		&.done{
		    border-left: 6px solid green !important;
		}
		&.in_progress{
		    border-left: 6px solid orange !important;
		}
		&.cancelled{
		    border-left: 6px solid red !important;
		}
	}

	@media (min-width: 768px) {
		width: 100% !important;
		li {
			font-size: 16px;
			height: 40px !important;
		}
    }
    @media (max-width: 768px) {
		width: auto !important;
		li {
			border-collapse: collapse;
			border-collapse: separate;
			table-layout: fixed;
			span {
				display: table-cell;
				table-layout: fixed;
				padding: 5px;
				border-right: 1px solid $white-divider;
				vertical-align: middle;
				.wide {
					display: none;
				}
				&.status {
					display: none;
					padding: 0px !important;
					table-layout: fixed;
					max-width: 6px !important;
					
				}
				&.priority {
					table-layout: fixed;
					min-width: 10px !important;
					margin: 0px auto;
					section {
						display: none;
					}
					.priority-box {
						margin: 0px auto !important;
				    	width: 15px;
				    	height: 15px;
				    	float: none;
					    &.low{
						    background-color: green;
						    border: 2px solid darken(green, 10%);
						}
						&.medium{
						    background-color: yellow;
						    border: 2px solid darken(yellow, 10%);
						}
						&.high{
						    background-color: orange;
						    border: 2px solid darken(orange, 10%);
						}
						&.critical{
						    background-color: red;
						    border: 2px solid darken(red, 10%);
						}
					}
				}
				&.title {
					table-layout: fixed;
					max-width: 230px !important;
				}
				&.time {
					table-layout: fixed;
					max-width: 120px !important;
					section {
						float: left;
						display: block;
						&.value-text {
							font-size: 12px;
							min-width: 40px;
						}
						&.info-text {
							font-size: 12px;
							font-weight: bold;
						}
					}
				}
				&.users {
					table-layout: fixed;
					max-width: 120px !important;
				}
			}
			
			&:nth-child(odd) {
			  background-color: $lightest-gray;
			}
			&:nth-child(even) {
			  background-color: $white;
			}
		}
    }
}

#task-bottom {
	display: inline-block;
	width: 100%;
	text-align: center;
	.pagination {
		margin: 0px auto !important;
		margin-top: 7px !important;
		padding: 0px !important;
		@media (max-width: 768px) {
			display: inline-block;
			width: 100%;
			margin-bottom: 20px !important;
		}
	}
	.new-task-div {
		float: right;
	}
}