// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/_variables";

#user-tool {
    background-color: $lightest-gray;
    border: 1px solid $lighter-gray;

    section {
        background-color: $white;
        &.user-tool-header {
            background-color: transparent;
            border-bottom: 1px solid $lighter-gray;
            margin: 0px !important;
            display: inline-block;
            width: 100%;
            line-height: 52px;
            height: 55px;
            p {
                font-size: 20px;
                font-weight: 500;
                margin-left: 20px;
                color: $dark-gray;
            }
        }
        &#tool-action {
            display: inline-block;
            width: 100%;

            #tool-add-user {
                line-height: 66px;
                float: left;

                a {
                    //padding: 18px;
                }
                .text-link {
                    float: left;
                    font-size: 16px;
                }
                #plus-sign {
                    float: left;
                    margin: 20px 0px 0px 0px !important;
                    padding: 0px 7px 0px 18px !important;
                    color: $cool-blue !important;
                    font-size: 28px;
                }
            }
            #tool-search {
                padding: 7px;
                float: right;
                p {
                    display: inline-block;
                    margin: 0px 0px 0px 0px !important;
                    font-size: 12px;
                }
                form {
                  width: 100% !important;
                  display: inline-block !important;
                  button, a {
                      display: block !important;
                      float: right;
                  }
                  a {
                      margin-left: -30px;
                      margin-right: 10px;
                  }
                  input {
                      float: left;
                      max-width: 200px !important;
                      padding: 0px 10px 0px 10px !important;
                      margin: 0px 0px 0px 0px !important;
                      background-color: $lightest-gray;
                      border: 1px solid $lighter-gray;
                  }
                }
            }
        }
        &#tool-user-form {
            background-color: $lightest-gray !important;
        }
    }
}



.fire-link {
    float: right;
}

// Information about user rights
/*.user-info-tooltip{
  background-image: image-url('information.jpg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.user-info-tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: rgba(47, 47,47,0.88);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  left: 25px;
  z-index: 1;
}
.user-info-tooltip:hover .tooltiptext {
  visibility: visible;
}

.userInfo label, select{
  float: left;
}*/

.panel-body {
    .nav-pills {
        li {
            margin: 0px !important;
            display: inline-block;
            a {
                background-color: $lightest-gray;
                &:focus {
                  background-color: $purple !important;
                }
                &:hover {
                  color: $purple !important;
                }
            }
            
            &.active a {
                background-color: $purple;
                &:hover {
                    background-color: $purple !important;
                    color: $white !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .panel-body {
        .nav-pills {
            li {
                clear: both;
                width: 100%;
            }
        }
    }
}