// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/_variables";

#user-tool {
    display: block;
    width: 100%;
    background-color: $lightest-gray;
    border: 1px solid $lighter-gray;

    section {
        background-color: $white;
        width: 100%;
        display: inline-block;
        &#user-tool-header {
            background-color: transparent;
            border-bottom: 1px solid $lighter-gray;
            margin: 0px !important;
            width: 100%;
            line-height: 52px;
            height: 55px;
            p {
                font-size: 20px;
                font-weight: 500;
                margin-left: 20px;
                color: $dark-gray;
            }
        }
        &#tool-action {
            display: table;
            border-bottom: 1px solid $lighter-gray;
            #toggle-user-form {
                display: table-cell;
                line-height: 66px;
                float: left;
                cursor: pointer;
                a {
                    padding-right: 18px;
                }
                .text-link {
                    float: left;
                    font-size: 16px;
                    color: $cool-blue;
                }
                #plus-sign {
                    float: left;
                    margin: 20px 0px 0px 0px !important;
                    padding: 0px 7px 0px 18px !important;
                    color: $cool-blue !important;
                    font-size: 28px;
                    clear: both;
                }
            }
            #tool-search {
                display: table-row;
                    padding: 18px !important;
                    float: right;
                    p {
                        display: none;
                    }
                    form {
                      button, a {
                          margin-left: 5px;
                          float: left;
                      }
                      a {
                          margin-right: 0px;
                      }
                      input {
                          float: left;
                          max-width: 150px !important;
                          padding: 0px 10px 0px 10px !important;
                          margin: 0px 0px 0px 0px !important;
                          background-color: $lightest-gray;
                          border: 1px solid $lighter-gray;
                      }
                    }
            }
        }
        #user-form {
          display: inline-block;
          padding: 0px !important;
          margin: 0px !important;
          width: 100%;
        }
        &#tool-user-form {
            background-color: $lightest-gray !important;
            border-bottom: 1px solid $lighter-gray;
            display: table;
            table-layout: fixed;
            padding: 10px 18px 10px 18px;
            .form-block {
              .form-title {
                h4 {
                  display: inline-block;
                  margin-bottom: 20px !important;
                }
              }
              &.top {

              }
              &.bottom {
                padding-top: 10px;
                border-top: 1px solid lighten($lighter-gray, 5%);
              }
            }
            .input {
                width: 32%;
                .form-tip {
                  font-size: 13px;
                }
                .form-control {
                  border: 1px solid $lighter-gray;
                }
                &.input-left {
                  float: left;
                }
                &.input-right {
                  float: right;
                }
                &.input-center {
                  margin: 0 auto;;
                }
                &.input-radios {
                  width: 40% !important;
                  border: 1px solid $light-gray;
                  border-radius: 4px;
                  background-color: $lighter-gray;
                  padding: 5px 0px 5px 30px !important;
                  margin-top: 20px;
                  float: right;
                  .userInfo {
                    div {
                      max-width: 170px;
                      input {
                        margin-right: 7px;
                      }
                      .glyphicon {
                        font-size: 16px;
                        float: right;
                      }
                    }
                  }
                }
            }
            #form-bottom {
              display: inline-block;
              width: 100%;
              #form-info {
                float: left;
              }
              #form-action {
                float: right;
                .btn {
                  margin-left: 16px;
                }
              }
            }
        }
        &#user_display {
            display: table;
            #user-list-action {
                display: table-row;
                #list-sort {
                  //background-color: blue;
                  display: table-cell;
                  padding: 7px 18px 7px 7px;
                  float: right;
                  p {
                      //display: inline-block;
                      margin: 0px 0px 0px 0px !important;
                      font-size: 12px;
                  }
                  form {
                      width: 100% !important;
                      display: inline-block !important;
                      select {
                          float: left;
                          height: 34px;
                          &#sort {
                            min-width: 180px;
                            margin-right: 10px;
                          }
                          &#sort_order {
                            width: 100px;
                          }
                      }
                      input {
                          float: right;
                          margin-left: 10px;
                      }
                  }
                }

            }
            #user-list {
                padding: 0px 18px 0px 18px;
                .list-group {
                  margin: 0px auto !important;
                  
                  width: 100%;
                  display: table;
                  border-collapse: collapse;
                  li {
                    display: table-row;

                    width: 100%;
                    &.list-head {
                      font-size: 12px;
                      font-weight: bold;
                      border-top: 1px solid $lightest-gray;
                      span {
                        border-right: 0px solid $white-divider;
                      }
                    }
                    span {
                      display: table-cell;
                      padding: 7px;
                      width: auto;
                      border-right: 1px solid $white-divider;
                      vertical-align: middle;
                      .responsive-email {
                        display: none;
                      }
                      &.responsive {
                        display: none;
                      }
                    }
                  }
                }
            }
            #user-list-bottom {
              padding: 0px 18px 0px 18px;
              width: 100%;

              text-align: center;
              vertical-align: middle;

              div {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                &#users-count {

                  float: left;
                  margin-top: 22px;
                }
                &#users-per-page {
        
                  float: right;
                  margin-top: 22px;
                }
                &#paginate {
                  margin: 0px auto !important;
                  .wide {
                    display: block;
                  }
                  .responsive {
                    display: none;
                  }
                }
              }
            }
        }
    }
    @media (max-width: 768px) {
        section {
            &#tool-action {
                position: relative;
                min-height: 105px;
                #toggle-user-form {
                    line-height: 0px;
                    position: absolute;
                    top: 55px;
                    padding: 12px 18px 12px 18px;
                    width: 100%;
                    border-top: 1px solid $lightest-gray;
                    .text-link {
                        margin-top: 12px;
                      }
                      #plus-sign {
                        float: left;
                        margin: 0px 0px 0px 0px !important;
                        padding: 0px 7px 0px 0px !important;
                        color: $cool-blue !important;
                        font-size: 24px;
                        clear: both;
                      }
                }
                #tool-search {
                    display: table-row;
                    padding: 12px 0px 12px 18px !important;
                    margin: 0px auto !important;
                    width: 100%;
                    p {
                        display: none;
                    }
                    form {
                      button, a {
                          margin-left: 5px;
                          
                      }
                      a {
                          margin-right: 0px;
                      }
                      input {
                          
                          max-width: 150px !important;
                          padding: 0px 0px 0px 10px !important;
                          margin: 0px 0px 0px 0px !important;
                          background-color: $lightest-gray;
                          border: 1px solid $lighter-gray;
                      }
                    }
                }
            }
            /* Add new user form */
            &#tool-user-form {
                padding: 12px;
                .input {
                    width: 100%;
                    .form-tip {
                      font-size: 12px;
                    }
                }
                #form-bottom {
                  margin-top: 10px;
                }
            } /* End: add new user form */

            /* User display */
            &#user_display {
                #user-list-action {
                    #list-sort {
                      padding: 7px 18px 7px 7px;
                      display: block;
                      width: 100%;
                        form {
                            #sort {
                              max-width: 160px;
                              width: auto !important;
                              min-width: 140px !important;
                              margin-right: 10px;
                            }
                            #sort_order {
                              width: auto !important;
                            }
                            input {
                              float: left;
                            }
                        }
                    }
                }
                #user-list {
                    padding: 0px 7px 0px 7px;
                    .list-group {
                      li {
                        span {
                          padding: 5px !important;
                          &.email {
                            display: none;
                          }
                          .responsive-email {
                            display: block;
                            vertical-align: middle;
                          }
                          &.responsive {
                            display: table-cell;
                          }
                          &.wide {
                            display: none !important;
                          }
                        }
                      }
                    }
                }
                #user-list-bottom {
                  padding: 0px 7px 0px 7px;
                  width: 100%;

                  text-align: center;
                  vertical-align: middle;

                  div {
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    &#users-count {

                      float: left;
                      margin-top: 22px;
                    }
                    &#users-per-page {
                      float: right;
                      margin-top: 22px;
                    }
                    &#paginate {
                      width: 100%;
                      margin: 0px auto !important;
                      .wide {
                        display: none;
                      }
                      .responsive {
                        display: block;
                      }
                    }
                  }
                }
            } /* End: user display */
        }
      
    } /* End @media max-width */
}

select {
    background: $lightest-gray;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid $lighter-gray;
}

.fire-link {
    float: right;
}

// Information about user rights
/*.user-info-tooltip{
  background-image: image-url('information.jpg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.user-info-tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: rgba(47, 47,47,0.88);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  left: 25px;
  z-index: 1;
}
.user-info-tooltip:hover .tooltiptext {
  visibility: visible;
}

.userInfo label, select{
  float: left;
}*/

.panel-body {
    .nav-pills {
        li {
            margin: 0px !important;
            display: inline-block;
            a {
                background-color: $lightest-gray;
                &:focus {
                  background-color: $cool-blue !important;
                }
                &:hover {
                  color: $cool-blue !important;
                }
            }
            
            &.active a {
                background-color: $cool-blue;
                &:hover {
                    background-color: $cool-blue !important;
                    color: $white !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .panel-body {
        .nav-pills {
            li {
                clear: both;
                width: 100%;
            }
        }
    }
}