<% if @education.valid? %>
  $('#education-errors').html("");
  $('#education-display').html("<%= j render :partial => './users/education_display' %>");
  $('#education-display').children().last().hide();
  $('#education-display').children().last().fadeIn('fast');
<% else %>
  $('#education-errors').html("<div class='alert alert-danger'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><p>Det gick inte att spara utbildningen. Har du glömt att fylla i ett fält?</p></div>");
<% end %>
