<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse"> <!-- before bugtest: class="navbar-toggle collapsed" -->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>intra</span>EV</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="profile-circle"><%= current_user.first_name[0] %><%= current_user.last_name[0] %></div> <div class="profile-header-name"><%= current_user.first_name %><span class="caret"></span></div> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><%= link_to logout_path, method: "delete" do %>
                              <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logga ut
                            <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<% if current_user.admin? %>
    <%= render 'layouts/admin_sidebar' %>
<% else %>
    <%= render 'layouts/user_sidebar' %>
<% end %>
