<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar collapse sidebar-collapse user-sidebar"> <!-- before bugtest: class="col-sm-3 col-lg-2 sidebar" -->
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>

    <ul class="nav menu">
        <li class="active"><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li class="parent sidebar-profile">

            <a href="#">
                <div class="profile-circle-sidebar"><%= current_user.first_name[0] %><%= current_user.last_name[0] %></div>
                
                    <span class="greeting">God morgon</span></br>
                    <span class="username"><%= current_user.first_name %> <%= current_user.last_name %></span>
                
                <span data-toggle="collapse" href="#sub-item-1"><span class="caret"></span></span>
            </a>
            <ul class="children collapse in" id="sub-item-1">
                <li>
                    <a class="user-link" href="#">
                        <svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Arbetsuppgifter
                    </a>
                </li>
                <li>
                    <a class="user-link" href="#">
                        <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Meddelanden
                    </a>
                </li>
                <li>
                    <a class="user-link" href="#">
                        <svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Tidsrapport
                    </a>
                </li>
                <li>
                    <a class="user-link" href="#">
                        <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Kalender
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-header"> Verksamheten</li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Nyheter</a></li>
        <li><a href="#"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Målsättning</a></li>
        <li><a href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Processer</a></li>
        <li><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Lagar &amp; Regler</a></li>
        <li><a href="#"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Arbetsmiljö</a></li>
        <li><a href="#"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Hållbarhet</a></li>
        <li class="sidebar-header"> Dokument</li>
        <li><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-male-user"></use></svg> Styrdokument</a></li>
        <li><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-male-user"></use></svg> Redovisande dokument</a></li>
        <li><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-male-user"></use></svg> Blanketter</a></li>
    </ul>

    <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a>
        <br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a>
    </div>
</div><!--/.sidebar-->