<ul class="nav menu">
    <li class="active"><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
    <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Nyheter</a></li>
    <li><a href="#"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Målsättning</a></li>
    <li><a href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Processer</a></li>
    <li><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Lagar &amp; Regler</a></li>
    <li><a href="#"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Arbetsmiljö</a></li>
    <li><a href="#"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Hållbarhet</a></li>
    <li class="parent ">
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> <%= current_user.first_name %> <%= current_user.last_name %>
        </a>
        <ul class="children collapse" id="sub-item-1">
            <li>
                <a class="" href="#">
                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                </a>
            </li>
            <li>
                <a class="" href="#">
                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                </a>
            </li>
            <li>
                <a class="" href="#">
                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                </a>
            </li>
        </ul>
    </li>
    <li role="presentation" class="divider"></li>
    <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Dokument</a></li>
</ul>